<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}" class="{% if page.url contains 'about' %}current{% endif %}">About Us</a></li>
    <li><a href="{{ '/services' | relative_url }}" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li>
    <li><a href="{{ '/team' | relative_url }}" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
  </ul>
</div>