<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>
              17602 17th Street Ste 102-241
            </li>
            <li>
              Tustin, CA 92780
            </li>
            <li>
                (714) 502-9029
            </li>
            <li>
                Fax: (714) 333-4190
            </li>
          </ul>
          <!-- <ul>
            <li><a href="https://www.zerostatic.io">www.zerostatic.io</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>